<div class="container">
  <h2 class="signin">Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "emaillabel" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "emailfield" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "passwordlabel" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "passwordfield" %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "submitbtn" %>
    </div>
  <% end %>

</div>
